.projects {
    text-align: center;
}

.projects__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.projects__description {
    font-size: var(--size-sm);
    max-width: 60ch;
    color: var(--clr-zinc600);
    margin: 1rem auto;
}

.projects__project-title {
    font-size: var(--size-base);
    margin-bottom: 1rem;
}

.projects__project-img-wrapper {
    position: relative;
}

.projects__project-img-wrapper::after {
    content: "";
    background-color: rgba(67, 56, 202, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.projects__project-img-wrapper:hover::after {
    background-color: rgba(67, 56, 202, 0.3);
}

.projects__project:not(:last-child) {
    margin-bottom: 5rem;
}

.projects__project-description1,
.projects__project-description2 {
    font-size: var(--size-sm);
}

.projects__project-description1 {
    color: var(--clr-zinc600);
    margin: 1rem 0;
}

.projects__project-description2 {
    color: var(--clr-zinc400);
    margin: 1rem;
}

.projects__project-button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.projects__project-btn {
    font-size: var(--size-sm);
}

.projects__project-subtitle {
    display: none;
}

/* xs */
@media (min-width: 475px) {
    .projects__title {
        font-size: var(--size-3xl);
    }

    .projects__description {
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }

    .projects__project-title {
        font-size: var(--size-lg);
        margin-bottom: 1.5rem;
    }

    .projects__project-description1,
    .projects__project-description2 {
        font-size: var(--size-base);
    }

    .projects__project-description1 {
        margin: 1.5rem 0;
    }

    .projects__project-description2 {
        margin: 1.5rem;
    }

    .projects__project-btn {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width: 640px) {
    .projects__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "image1 content1"
            "content2 image2"
            "image3 content3"
            "content4 image4"
            "image5 content5";
        place-items: center;
    }

    .projects__image1 {
        grid-area: image1;
    }

    .projects__image2 {
        grid-area: image2;
    }

    .projects__image3 {
        grid-area: image3;
    }

    .projects__image4 {
        grid-area: image4;
    }

    .projects__image5 {
        grid-area: image5;
    }

    .projects__content1 {
        grid-area: content1;
    }

    .projects__content2 {
        grid-area: content2;
    }

    .projects__content3 {
        grid-area: content3;
    }

    .projects__content4 {
        grid-area: content4;
    }

    .projects__content5 {
        grid-area: content5;
    }

    .projects__project {
        padding: 0 1rem;
    }

    .projects__project-title {
        display: none;
    }

    .projects__project-description1,
    .projects__project-description2 {
        font-size: var(--size-xs);
    }

    .projects__project-description1 {
        margin: 1em 0;
    }

    .projects__project-description2 {
        margin: 1em;
    }

    .projects__project-btn {
        font-size: var(--size-xs);
    }

    .projects__project:not(:last-child) {
        margin-bottom: 0;
    }

    .projects__project-subtitle {
        display: block;
        font-size: var(--size-base);
    }
}

/* md */
@media (min-width: 768px) {
    .projects__project-description1,
    .projects__project-description2 {
        font-size: var(--size-sm);
    }

    .projects__project-btn {
        font-size: var(--size-sm);
    }

    .projects__project-subtitle {
        display: block;
        font-size: var(--size-lg);
    }
}

/* lg */
@media (min-width: 1024px) {
    .projects__title {
        font-size: var(--size-4xl);
    }

    .projects__description {
        font-size: var(--size-lg);
    }

    .projects__project-description1,
    .projects__project-description2 {
        font-size: var(--size-base);
    }

    .projects__project-btn {
        font-size: var(--size-base);
    }

    .projects__project-subtitle {
        display: block;
        font-size: var(--size-xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .projects__title {
        font-size: var(--size-5xl);
    }

    .projects__description {
        font-size: var(--size-xl);
        margin: 2rem auto;
    }

    .projects__project-description1,
    .projects__project-description2 {
        font-size: var(--size-lg);
    }

    .projects__project-btn {
        font-size: var(--size-lg);
    }

    .projects__project-subtitle {
        display: block;
        font-size: var(--size-2xl);
    }

    .projects__container {
        width: 80%;
        margin: 0 auto;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .projects__container {
        width: 70%;
    }
}
