.projects {
    text-align: center;
}

.projects__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.projects__description {
    font-size: var(--size-sm);
    max-width: 60ch;
    color: var(--clr-zinc600);
    margin: 1rem auto;
}

.projects__project-title {
    font-size: var(--size-base);
    margin-bottom: 1rem;
}

.projects__project-img-wrapper {
    position: relative;
}

.projects__project-img-wrapper::after {
    content: "";
    background-color: rgba(67, 56, 202, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.projects__project-img-wrapper:hover::after {
    background-color: rgba(67, 56, 202, 0.3);
}

.projects__project:not(:last-child) {
    margin-bottom: 5rem;
}

.projects__project-description1,
.projects__project-description2 {
    font-size: var(--size-sm);
}

.projects__project-description1 {
    color: var(--clr-zinc600);
    margin: 1rem 0;
}

.projects__project-description2 {
    color: var(--clr-zinc400);
    margin: 1rem;
}

.projects__project-button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.projects__project-btn {
    font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
    .projects__title {
        font-size: var(--size-3xl);
    }

    .projects__description {
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .projects__title {
        font-size: var(--size-4xl);
    }

    .projects__description {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .projects__title {
        font-size: var(--size-5xl);
    }

    .projects__description {
        font-size: var(--size-xl);
        margin: 2rem auto;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
