:root {
    /* colors */
    --clr-light: #f1f5f9;
    --clr-dark: #070a13;
    --clr-zinc400: #a1a1aa;
    --clr-zinc600: #52525b;
    --clr-zinc800: #27272a;
    --clr-red: #ef4444;
    --clr-rose: #e11d48;
    --clr-amber: #d97706;

    /* red: rgb(225, 29, 72) */
    /* amber: rgb(217, 119, 6) */

    /* sizes */
    --size-xxs: 0.5rem; /* 8px */
    --size-xs: 0.75rem; /* 12px */
    --size-sm: 0.875rem; /* 14px */
    --size-base: 1rem; /* 16px default */
    --size-lg: 1.125rem; /* 18px*/
    --size-xl: 1.25rem; /* 20px */
    --size-2xl: 1.5rem; /* 24px */
    --size-3xl: 1.875rem; /* 30px */
    --size-4xl: 2.25rem; /* 36px */
    --size-5xl: 3rem; /* 48px */
    --size-6xl: 3.75rem; /* 60px */
    --size-7xl: 4.5rem; /* 72px */
    --size-8xl: 6rem; /* 96px */
    --size-9xl: 8rem; /* 128px */
    --size-10xl: 10rem; /* 160px */
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

.light-mode {
    --clr-dark: #f1f5f9;
    --clr-light: #070a13;
    --clr-zinc400: #27272a;
    --clr-zinc600: #27272a;
    --clr-zinc800: #27272a;
}

body {
    font-family: "Convergence", sans-serif;
}

.page-wrapper {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

strong {
    color: var(--clr-amber);
}
